       /* Example CSS for customizing the audio player */
        /* Show/hide button */
        #showAudioButton {
            right: 10px;
            top: 50%;
            /* transform: translateY(-50%); */
            width: 16px;
            padding-bottom: 100px;
            height: 100px;
            background-color: rgba(255, 0, 0, 0);
            border: none;
            cursor: pointer;
            margin-left:0px;
            
        }

        /* Custom audio player container */
        .custom-audio {
            display: flex;
            position: fixed;
            align-items: center;
            border: 1px solid white;
            right: -90px; /* Initially hide to the right */
            top: 50%; /* Center vertically */
            transform: translateY(-50%);
            width: 100px ;
            height: 50px;
            background-image: linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
            overflow: hidden;
            border-top-left-radius: 10px; /* Adjust if needed */
            border-bottom-left-radius: 10px; /* Adjust if needed */
            transition: right 0.5s;
            z-index:2;
        
        }

        /* Styling for the play/pause button */
        .custom-audio-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 40px;
            border: none;
            cursor: pointer;
            background-color: transparent;
        }

        /* Play button */
        .custom-audio-button.play::before {
            content: "\25B6"; /* Unicode character for the play symbol */
            font-size: 15px;
            color: white;
            display: block;
            text-align: center;
            margin-left: 3px;
           
        }

        /* Pause button */
        .custom-audio-button.pause::before {
            content: "\II"; /* Unicode character for the pause symbol */
            font-size: 16px;
            color: white;
            display: block;
            text-align: center;
           
        }
        
        .audio-visible {
            right: 0px; /* Show the audio player */
        }

