.custom-nav button.owl-prev,
.custom-nav button.owl-next {
  background-color: #ffffff;
  border: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  font-size: 20px;
  font-size: 0px;
  background-image: url(reshot-icon-arrow-chevron-right-WDGHUKQ634.svg);
  background-position: center;

  background-size: 30;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 1px solid rgb(237, 237, 237);
  ;
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.45);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.45);
}

.custom-nav button.owl-prev {
  color: rgb(82, 55, 255);
  transform: scaleX(-1)
}

.kea-course {
  display: flex;
  max-height: 600px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.kea-course>.card {
  background-color: #ffffff;
  /* color: #3d3d3d;
  -webkit-box-shadow: 10px 10px 5px -3px rgba(209, 209, 209, 1);
  -moz-box-shadow: 10px 10px 5px -3px rgba(209, 209, 209, 1);
  box-shadow: 10px 10px 5px -3px rgba(209, 209, 209, 1); */
}

.kea-course-font {
  font-family: 'Barlow Condensed', sans-serif;
}

.kea-subfont {
  font-family: 'Caprasimo', cursive;
  font-family: 'Domine', serif;
  font-family: 'EB Garamond', serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.kea-btn {
  height: 30px;
  font-size: 12px;
  background-color: rgb(24, 132, 144);
  color: white;
}

.kea-btn:hover {
  height: 30px;
  font-size: 12px;
  background-color: rgb(24, 132, 144);
  color: white;
}

.card>.tra:hover {
  overflow: hidden;
  transition-duration: 2s;
  transform: scale(1.1);
  z-index: -1;
}

.kea-course>.card {
  object-fit: cover;
  object-position: center;
  z-index: 1;
  overflow: hidden;
}